<ion-view title="Explore places around you">
  <ion-content>
    <label class="item item-input search_icon"> <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="text" placeholder="Search / Add new venue" ng-model="input.search" ng-change="explore(true)"> 
      <i ng-hide="busy" class="icon ion-ios7-play"></i>
      <i ng-show="busy" class="icon ion-ios7-reloading"></i>
    </label>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="explore(true)"></ion-refresher>
    <div class="content post" >
      <a ng-href="#/venue/{{item.id}}" class="item item-avatar item-icon-right" data-ng-repeat="item in items track by $index" on-finish-render>
        <span>{{$index+1}}</span>
        <h2>{{item.name}}</h2>
        <p>{{item.wifipw.password}}</p>
        <p class="author">{{item.wifipw._user.profile.name}}</p>
      </a>
      <h2 ng-if="dataOver && (items && !items.length) && (!busy)">Not found!</h2>      
    </div>
    <div class="bar bar-subheader" ng-if="dataOver && (items && !items.length) && (!busy)">
          <h2 class="title">Not found!</h2>
        </div>
    <ion-infinite-scroll ng-if="(!dataOver) && (!busy)" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar class="bar-calm" ng-if="input.search">
        <a class="" href="" ng-click="addVenue()">
            <div class="title">Not these? Add new "{{input.search}}" now!</div>
        </a>
    </ion-footer-bar>
  <!-- <div class="footer" ng-if="input.search">
    <a class="" href="" ng-click="addVenue()">
      <div class="inner text-center">
        <p>Not these? Add new "{{input.search}}" now!</p>
      </div>
    </a>
  </div> -->
</ion-view>
<script id="new_place.html" type="text/ng-template">
  <div class="new_place">
    <p>Add New Venue</p>
    <form action="">
        <div class="row">
            <div class="col col-20 text-right">
                <span>Name</span>
            </div>
            <div class="col">
                <label class="item item-input">
                    <input type="text" placeholder="Ex : Cafe Wind" ng-model="data.name"></label>
            </div>
        </div>
        <div class="row">
            <div class="col col-20 text-right add">Add</div>
            <div class="col">
                <label class="item item-input item-icon-right">
                    <input type="text" placeholder="Country - Ex : USA" ng-model="data.country"></label>
                </label>
                <label class="item item-input city">
                    <input type="text" placeholder="City - Ex : Paris" ng-model="data.city"></label>
                <label class="item item-input">
                    <textarea rows="3" type="text" placeholder="Ex : 2 Edwards road" ng-model="data.address"></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-20 text-right">Wifi</div>
            <div class="col">
                <label class="item item-input">
                    <input type="text" placeholder="Ex : 123456789" ng-model="data.password"></label>
            </div>
        </div>
    </form>
</div>         
</script>