/* Your app's CSS, go crazy, make it your own */
 .ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}
body, h1, h2, h3, h4, h5, h6, input, button, select, textarea {
    font-family:'Open Sans', sans-serif;
}
a, a:focus, button:focus {
    outline: none!important;
    text-decoration: none!important;
}
/*.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00AFEF;
    height: 43px;
}
.footer .inner {
    padding: 12px 12px 0px;
    color: #fff;
    font-size: 15px;
}
.footer .inner p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}*/
 .bar.bar-calm .title {
    font-size: 14px;
}
.pane {
    background-color: #000000;
}
.post {
    background-color: #000000;
    padding: 20px 0 60px 0;
    /*padding: 0.714em;*/
}
.post .item-avatar {
    padding: 10px 0px 30px 36px;
    background-color: #000000;
    border-color: #000;
    min-height: 105px;
    position: relative;
}
.post .item-avatar.active {
    background-color: #202020!important;
}
.post .item-avatar span {
    position: absolute;
    top: 10px;
    left: 8px;
    border-radius: 3em;
    border: 1px solid;
    font-size: 11px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 18px;
}
.post .item-avatar h2 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 0px;
    font-family:'Open Sans', sans-serif;
}
.post .item-avatar p {
    font-size: 18px;
    white-space: initial;
    margin-bottom: 0;
    color: #FFFFFF;
    line-height: 24px;
}
.post .item-avatar .author {
    font-size: 11px;
    color: #707070;
    border-bottom: 1px solid #131313;
    position: absolute;
    bottom: 0px;
    padding-bottom: 6px;
    width: 100%;
}
.post .item-avatar:nth-of-type(5n+1) span, .post .item-avatar:nth-of-type(5n+1) h2 {
    color: #FF0000;
}
.post .item-avatar:nth-of-type(5n+2) span, .post .item-avatar:nth-of-type(5n+2) h2 {
    /*color: #92D050;*/
    color: #00F109;
}
.post .item-avatar:nth-of-type(5n+3) span, .post .item-avatar:nth-of-type(5n+3) h2 {
    color: #00AFEF;
}
.post .item-avatar:nth-of-type(5n+4) span, .post .item-avatar:nth-of-type(5n+4) h2 {
    color: #FF3399;
}
.post .item-avatar:nth-of-type(5n) span, .post .item-avatar:nth-of-type(5n) h2 {
    color: #FFC000;
}
.bottombar {
    position: fixed;
    bottom: 0;
    background-color: #fff;
}
.search_icon {
    background-color: #686868;
    border: none;
}
.search_icon i {
    font-size: 25px;
    color: #FFF;
}
.search_icon i.ion-ios7-play {
    font-size: 34px;
    color: #D9408C;
}
.search_icon input {
    font-family:'Open Sans', sans-serif;
    color: #D9D9D9;
}
.search_icon>input::-webkit-input-placeholder {
    color: #D9D9D9;
}
.search_icon>input:-moz-placeholder {
    color: #D9D9D9;
}
.search_icon>input::-moz-placeholder {
    color: #D9D9D9;
}
.search_icon>input:-ms-input-placeholder {
    color: #D9D9D9;
}
.detail_post .item-avatar {
    padding: 10px 0px 30px 50px;
    min-height: 90px;
}
.detail_post .item-avatar .btn_like {
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 2px;
    color: red;
    height: 32px;
    width: 32px;
}
.detail_post .item-avatar .avatar {
    position: absolute;
    /*    top: 15px;
    left: 10px;*/
    top: 0;
    left: -5px;
}
.detail_post .item-avatar img {
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
.detail_post .author li {
    display: inline-block;
    margin: 0 5px;
}
.detail_post .author li:last-child i {
    position: relative;
    font-size: 20px;
    top: 3px;
    color: #FF0000;
    display: inline-block;
    width: 18px;
}
.detail_post .title {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
}
.popup {
    top: 40%;
    min-height: 175px;
    z-index: 11;
}
.popup .popup-head {
    padding: 0;
    border-bottom: none;
}
.popup .popup-title, .popup .popup-sub-title {
    font-size: 17px;
    text-align: left;
    padding: 10px;
}
.popup .popup-sub-title {
    margin-top: 0px;
}
.popup .popup-body {
    padding: 0;
    background-color: #E6E6E6;
}
.popup .popup-body input {
    padding: 0 10px;
    background-color: #E6E6E6;
    border: 1px solid #FFF;
    width: 80%;
    margin: 0 auto;
}
.popup .popup-buttons button {
    height: 40px;
    min-height: 0;
    background-color: #FF0000;
    border: none;
}
/*.popup .popup-buttons button:first-child {
    width: 40px;
    min-width: 0;
    border-radius: 30px;
    position: absolute;
    bottom: -75px;
    right: 30px;
}*/
 .popup .popup-buttons button.left {
    position: fixed;
    width: 1000%;
    height: 1000%;
    left: -500%;
    top: -500%;
    z-index: -1;
    opacity: 0;
}
.popup .popup-buttons button.right {
    margin: 3% 15%;
    border-radius: 0;
    text-transform: uppercase;
    position: relative;
}
.popup .popup-buttons button:last-child>img {
    position: absolute;
    top: 0;
    left: -16%;
}
.popup-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}
.popup_sharefb {
    padding: 0 10px 10px;
    background-color: #92D050;
    position: absolute;
    top: 0;
    height: 250px;
    text-align: center;
}
.popup_sharefb h4 {
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    font-size: 17px;
}
/*.popup .popup-buttons button.btn_sharefb {
    background-color: #fff;
}*/
 .popup .popup-buttons button.btn_sharefb {
    background-color: #fff;
    position: absolute;
    width: 60px;
    right: 30px;
}
.popup .popup-buttons button.btn_sharefb.yes {
    left: 30px;
    width: 100px;
}
.only_fb {
    position: absolute;
    bottom: 5px;
    font-size: 11px;
    left: 66px;
}
.new_place {
    margin-top: -20px;
}
.new_place>p {
    position: absolute;
    top: -40px;
    background-color: red;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 5px;
}
.new_place label {
    padding: 0;
    border: 1px solid #BEBEBE;
}
.new_place .text-right {
    padding-top: 10px;
}
.new_place input {
    max-width: 100%;
    background-color: #fff!important;
}
.new_place select {
    width: 100%;
    padding: 0 7px;
    border: none;
}
.new_place select {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}
.new_place select+i.ion-ios7-play-outline {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    z-index: -1;
    color: #A4A4A4;
    font-size: 40px;
}
.new_place select+i.ion-ios7-play-outline:before {
    margin-top: -10px;
}
.new_place textarea {
    padding: 5px 10px;
}
.new_place .city {
    margin-bottom: 3px;
    margin-top: 3px;
}
.loading {
    background-color: rgba(150, 150, 150, 0.7);
}
