<ion-view title="">
    <ion-content>
        <div class="content post detail_post">
            <h2 class="title">{{data.name}}</h2>
            <div class="item item-avatar item-icon-right" ng-repeat="item in items track by $index">
                <a class="avatar" href="">
                    <!-- <img src="./img/mcfly.jpg"> -->
                    <img ng-src="{{item._user.profile.picture.data.url || './img/mcfly.jpg'}}">
                </a>
                <p>{{item.password}}</p>
                <ul class="author">
                    <li>{{item._user.profile.name}}</li>
                    <li>{{item.createTime}}</li>
                    <li ng-if="item.likes">
                        <i class="icon ion-ios7-heart"></i>
                        <spam>{{item.likes}}</spam>
                    </li>
                </ul>
                <a class="btn_like" href ng-click="like($index)"><i ng-hide="item.busy" ng-class="{true:'icon ion-ios7-heart',false:'icon ion-ios7-heart-outline'}[item.liked]"></i><i ng-show="item.busy" class="icon ion-ios7-reloading"></i></a>
            </div>
        </div>
        <div class="bar bar-subheader" ng-if="dataOver && (items && !items.length) && (!busy)">
          <h2 class="title">Not found!</h2>
        </div>
        <ion-infinite-scroll ng-if="(!dataOver) && (!busy)" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
        <script id="popup-template.html" type="text/ng-template">
            <input type="text" ng-model="input.password" placeholder="Type here, just password!">
        </script>
        <script id="confirm-template.html" type="text/ng-template">
            <div class="popup_sharefb">
                <h4>Almost done!Congratulations and thank you!Would you like to share this on your facebook ?</h4>
                <button class="button button-light yes">YES</button>
                <button class="button button-light">NO</button>
            </div>
        </script>
    </ion-content>
    <ion-footer-bar class="bar-calm">
        <a class="" href="" ng-click="sharePw()">
            <div class="title">Changed? Add new if you know!</div>
        </a>
    </ion-footer-bar>
</ion-view>
