<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
	{% include '../includes/head.html' %}
	<body animation="slide-left-right-ios7">		
  		{% block content %}{% endblock %}            
        <div id="fb-root"></div>
        {% include '../includes/foot.html' %}
    </body>
</html>
